h1{
    color: red;
}

p,
li {

}

.special {
    color: orange;
    font-weight:bold;
}

li em {                         /* li要素の中にあるem要素のみを選択*/
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

/* リンクのスタイル設定　ページを開く前はピンク、開いた後は緑になる */
a:link {
    color: purple;
    font-weight: bold;
}
a:visited {
    color: green;
}
a:hover {
    text-decoration: none;  /* ホバー時に下線を消す */
}

h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}